.step-one {
    min-height: 441px;
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        @include xl {
            max-width: 1200px;
            flex-direction: column-reverse;
        }
    }
    &__slider {
        width: 50%;
        max-width: 960px;
        min-width: 0;
        min-height: 441px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        img {
            max-width: 960px;
            width: 100%;
            height: 441px;
            @include lg {
                max-height: 441px;
                height: 100%;
            }
        }
        @include lg-md {
            margin-top: 20px;
        }
        @include md-sm {
            margin-top: -50px;
        }
        @include sm-xs {
            margin-top: -160px;
        }
        @include xs {
            margin-top: -220px;
        }
        @include xl {
            width: 100%;
            justify-content: center;
            margin-bottom: 20px;
            margin-top: 20px;
            max-width: 960px;
        }
    }
    &__main {
        background-color: $color-beg;
        min-height: 442px;
        width: 50%;
        max-width: 960px;
        background-color: $color-beglight;
        padding-top: 78px;
        padding-bottom: 80px;
        padding-left: 70px;
        margin-bottom: 3px;
        @include xl {
            width: 100%;
            max-width: 1200px;
            justify-content: center;
            padding-right: 70px;
        }
    }
}

.main-one {
    max-width: 503px;
    &__bg {
        min-height: 441px;
        width: 100%;
        background-color: $color-beglight;
        position: absolute;
        top: 0;
        z-index: -1;
        @include xl {
            display: none;
        }
    }
    @include xl {
        margin: 0 auto;
    }
    &__content {
        max-width: 460px;
        margin-bottom: 32px;
    }
    &__review {
        display: flex;
        position: relative;
    }
    &__title {
        display: flex;
        align-items: center;
        @include sm {
            flex-direction: column;
            text-align: center;
            gap: $gap;
        }
        span {
            font-family: $font-pnextrabold;
            font-weight: bold;
            font-size: 16px;
            line-height: 144%;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: $color-gray-dark;
            background-color: $color-accent;
            padding: 2px 8px;
            margin-right: 19px;
        }
        h4 {
            font-family: $font-pnextrabold;
            font-size: 24px;
            line-height: 142%;
            letter-spacing: -0.6px;
            font-weight: bold;
            color: $color-gray-dark;
            margin: 0;
        }
    }
    &__text {
        font-family: $font-main;
        font-weight: bold;
        font-size: 18px;
        line-height: 144%;
        letter-spacing: -0.5px;
        color: $color-gray;
        opacity: 0.7;
    }
    &__avatar {
        position: absolute;
        top: -22px;
        left: -41px;
    }
    &__review-text {
        margin-left: 100px;
        &_quote {
            font-family: $font-main;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: -0.4px;
            color: $colot-text;
            opacity: 0.7;
            font-style: italic;
            margin: 0;
            margin-bottom: 20px;
        }
        &_name {
            font-family: $font-pnextrabold;
            font-size: 16px;
            line-height: 162%;
            font-weight: bold;
            letter-spacing: -0.6px;
            color: $color-gray-dark;
            opacity: 0.7;
            margin: 0;
            span {
                text-transform: uppercase;
            }
        }
    }
}