.steps {
    &__header {
        text-align: center;
        min-height: 360px;
    }
    &__container {
        padding-top: 109px;
        padding-bottom: 80px;
        @include sm {
            padding-top: 65px;
            padding-bottom: 70px;
        }
        p {
            max-width: 503px;
            font-family: $font-header;
            font-size: 20px;
            line-height: 140%;
            font-weight: bold;
            color: $colot-text;
            margin: 28px auto 0 auto;
        }
    }
    &__gradient {
        background: linear-gradient(180deg, rgba(96, 182, 255, 1) 0%, rgba(0, 78, 134, 0.8) 100%);
        h2 {
            font-family: $font-bebas;
            font-size: 80px;
            line-height: 64px;
            letter-spacing: 5px;
            background: white;
            mix-blend-mode: screen;
            margin: 0;
            @include sm {
                font-size: 70px;
            }
            @include xs {
                font-size: 55px;
            }
        }
    }
}