.services__item {
    max-width: 400px;
    width: 100%;
    min-height: 381px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
}

.service-card {
    &__img {
        max-width: 400px;
        width: 100%;
        height: 180px;
        overflow: hidden;
        border-radius: 3px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.534);
    }
    h4 {
        font-family: $font-pnregular;
        font-size: 24px;
        line-height: 117%;
        letter-spacing: -0.3px;
        color: $color-light;
        margin-bottom: 19px;
    }
    p {
        font-family: $font-pnregular;
        font-size: 16px;
        line-height: 162%;
        letter-spacing: -0.5px;
        color: $color-light;
        opacity: 0.7;
    }
    &__text {
        flex: 1 1 auto;
    }
    &__link-more {
        a {
            transition: all 0.3s linear;
        }
        a:hover {
            color: $color-light;
            font-weight: bold;
            text-shadow: 2px 2px 5px black;
        }
        font-family: $font-bebas;
        font-size: 20px;
        line-height: 16px;
        letter-spacing: 7px;
        color: $color-accent;
        margin-bottom: 0;
    }
}