.services {
    position: relative;
    min-height: 753px;
    background-image: url(../img/bgservises.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding-bottom: $gap*4;
    &__overlay {
        background: linear-gradient(180deg, rgba(0, 78, 134, 0.9) 0%, rgba(10, 65, 104, 0.9) 100%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }
    &__body {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        padding-top: $gap*5;
        margin-bottom: $gap*2;
    }
    &__progressbar {
        position: relative;
        z-index: 1;
        height: 4px;
        width: 100%;
        background: linear-gradient(270deg, #FEE040 0%, rgba(254, 224, 64, 0) 100%);
        //margin-bottom: $gap*5;
    }
}