* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 18px;
    font-family: $font-main;
    //overflow-x: scroll;
}

body {
    margin: 0;
    padding: 0;
    background-color: $color-light;
}

a {
    max-width: max-content;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
}

.container {
    max-width: 1450px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

h1 {
    font-family: $font-header;
    font-size: 42px;
    line-height: 51px;
    letter-spacing: -0.5px;
    margin-top: 0;
    padding: 0;
    margin-bottom: $gap*1.7;
    @include md {
        width: 100%;
        text-align: center;
        font-size: 42px;
        padding-right: $gap;
        padding-left: $gap;
    }
}