* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: $font-main;
    overflow-y: scroll;
}

body {
    background-color: $color-light;
    margin: 0;
    padding: 0;
}

a {
    max-width: max-content;
    text-decoration: none;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    min-height: 100vh;
}

.container {
    max-width: 1450px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

h1 {
    font-family: $font-header;
    font-size: 42px;
    line-height: 51px;
    letter-spacing: -0.5px;
    margin-top: 0;
    padding: 0;
    margin-bottom: $gap*1.7;
}