//$color-primary: #2d3651;
$color-accent: #FEE040;
//$color-highlight: #d53d27;
//@use ;: #637588;
$color-gray: #333333;
$color-gray-light: #707070;
$color-gray-dark:#151515;
$color-light:#FFFFFF;
$color-beg: #F5F5F5;