$font-header: 'Gilroy',
serif;
$font-main:'Proxima Nova Lt',
sans-serif;
$font-pnextrabold: 'Proxima Nova Th';
$font-pnregular: 'Proxima Nova Rg';
$font-bebas: 'Bebas Neue';
$ul: 1340px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 350px;
$gap: 20px;