/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* ul */
/* xl */
/* lg */
/* md */
/* sm */
/* xs */
/* xx */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 18px;
  font-family: "Proxima Nova Lt", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

a {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1450px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1 {
  font-family: "Gilroy", serif;
  font-size: 42px;
  line-height: 51px;
  letter-spacing: -0.5px;
  margin-top: 0;
  padding: 0;
  margin-bottom: 34px;
}

.header {
  position: relative;
  top: 0;
  min-height: 768px;
  color: #FFFFFF;
  background-color: transparent;
  background-image: url(../img/bg_header.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.row-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 768px;
}

.header-overlay {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 78, 134, 0.8)), to(rgba(10, 65, 104, 0.8)));
  background: -o-linear-gradient(top, rgba(0, 78, 134, 0.8) 0%, rgba(10, 65, 104, 0.8) 100%);
  background: linear-gradient(180deg, rgba(0, 78, 134, 0.8) 0%, rgba(10, 65, 104, 0.8) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.header-menu {
  width: 100%;
  min-height: 80px;
  max-width: 1420px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-menu__left {
  width: 22.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-menu__right {
  width: 32.4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-menu__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-menu__mail p {
  font-family: "Proxima Nova Lt", sans-serif;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.3px;
  opacity: 0.5;
  padding: 0;
  margin: 0;
}
.header-menu__mail-link {
  color: inherit;
}
.header-menu__mail-link span {
  padding-left: 6px;
  font-family: "Proxima Nova Rg";
  font-size: 14px;
  line-height: 12px;
  letter-spacing: -0.3px;
  color: #FEE040;
}
.header-menu__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header-menu__tel-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 6px;
}
.header-menu__tel-img p {
  margin: 0;
  padding: 0 1px 0 8px;
  font-family: "Proxima Nova Lt", sans-serif;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.3px;
  opacity: 0.5;
}
.header-menu__tel-img img {
  margin-bottom: 2px;
}
.header-menu__tel-nmb {
  font-family: "Proxima Nova Rg";
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.header-menu__tel-nmb P {
  margin: 0;
}

.header-navbar__btn span {
  display: block;
  height: 2px;
  width: 40px;
  background: #FFFFFF;
  border-radius: 3px;
  opacity: 1;
}
.header-navbar__btn span:hover {
  background-color: #FEE040;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.header-navbar__btn-row:nth-child(1) {
  margin-bottom: 8px;
}

.header-navbar__btn-row:nth-child(2) {
  margin-bottom: 8px;
  background-color: #FEE040;
}

/*.header-navbar__btn-row:nth-child(3) {
    top: 18px;
}

.header-navbar__btn.active span:nth-child(1) {
    top: 9px;
    transform: rotate(135deg);
}

.header-navbar__btn.active span:nth-child(2) {
    opacity: 0;
    left: -30px;
}

.header-navbar__btn.active span:nth-child(3) {
    top: 9px;
    transform: rotate(-135deg);
}*/
.header-content {
  width: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 120px;
  padding-right: 120px;
  margin-bottom: 64px;
  margin-top: 200px;
}
.header-content__main {
  width: 50%;
}
.header-content__text {
  font-family: "Proxima Nova Rg";
  font-size: 20px;
  line-height: 34px;
  opacity: 0.7;
  max-width: 363px;
}
.header-content__text p {
  margin: 0;
  letter-spacing: 0.1px;
}
.header-content__offer-text {
  font-family: "Proxima Nova Lt", sans-serif;
  font-size: 15px;
  line-height: 28px;
  max-width: 340px;
}
.header-content__offer-text p {
  margin: 0;
}
.header-content__offer-btn {
  min-width: 340px;
  min-height: 70px;
  background-color: #FEE040;
  border: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 34px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.header-content__offer-btn:hover {
  cursor: pointer;
  background-color: #FFFFFF;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.header-content__offer-btn:hover p {
  color: rgba(14, 56, 192, 0.979);
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  margin-left: 8px;
}
.header-content__offer-btn:hover img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.header-content__offer-btn p {
  font-family: "Gilroy", serif;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 12px;
  font-weight: 900;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header-info {
  width: 100%;
  min-height: 228px;
  position: relative;
  z-index: 1;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 69%;
  min-height: 228px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 29px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260.14px;
}
.header-info__text {
  font-family: "Proxima Nova Rg";
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.3px;
}
.header-info__text p {
  margin: 0 0 0 0;
}
.header-info__img {
  width: 52.65px;
  height: 46.96px;
}
.header-info__video {
  max-width: 220px;
  max-height: 220px;
}

.whyme-list {
  width: 50%;
  background-color: #F5F5F5;
  font-family: "Proxima Nova Rg";
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: #151515;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.whyme-list__container {
  margin-right: 22px;
  max-width: 65%;
}
.whyme-list__container h3 {
  margin-top: 0;
  font-family: "Proxima Nova Rg";
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: #151515;
  font-weight: 900;
  margin-bottom: 12px;
  margin-left: -9px;
}
.whyme-list__ul {
  list-style: none;
  margin: 0;
}
.whyme-list__item {
  position: relative;
  font-family: "Proxima Nova Lt", sans-serif;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.5px;
  font-weight: 900;
  color: #333333;
  opacity: 0.7;
  padding-top: 15px;
  padding-bottom: 4px;
}
.whyme-list__item::before {
  content: "";
  background: url(../img/icon.png) no-repeat top left;
  height: 30px;
  width: 30px;
  position: absolute;
  z-index: 1;
  left: -50px;
  margin-left: -50px;
  margin: auto;
  overflow: auto;
}

.whyme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 446px;
  position: relative;
}
.whyme img {
  position: absolute;
  width: 385px;
  height: 385px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  margin-top: 54px;
  overflow: auto;
}

.whyme-bg {
  position: absolute;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 446px;
}
.whyme-bg__white {
  width: 50%;
}
.whyme-bg__beg {
  width: 50%;
  background-color: #F5F5F5;
}

.whyme-title {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.whyme-title__container {
  max-width: 65%;
}
.whyme-title__container h2 {
  font-family: "Gilroy", serif;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.5px;
  color: #151515;
  font-weight: 800;
  margin-bottom: 50px;
}
.whyme-title__container p {
  font-family: "Proxima Nova Rg";
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.3px;
  color: #707070;
  opacity: 0.7;
}

.services {
  position: relative;
  min-height: 753px;
  background-image: url(../img/bgservises.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding-bottom: 80px;
}
.services__overlay {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 78, 134, 0.9)), to(rgba(10, 65, 104, 0.9)));
  background: -o-linear-gradient(top, rgba(0, 78, 134, 0.9) 0%, rgba(10, 65, 104, 0.9) 100%);
  background: linear-gradient(180deg, rgba(0, 78, 134, 0.9) 0%, rgba(10, 65, 104, 0.9) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.services__body {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
  margin-bottom: 60px;
}
.services__progressbar {
  position: relative;
  z-index: 1;
  height: 4px;
  width: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#FEE040), to(rgba(254, 224, 64, 0)));
  background: -o-linear-gradient(right, #FEE040 0%, rgba(254, 224, 64, 0) 100%);
  background: linear-gradient(270deg, #FEE040 0%, rgba(254, 224, 64, 0) 100%);
}

.services__title {
  text-align: center;
}
.services__title h3 {
  margin-top: 0;
  font-family: "Bebas Neue";
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 20px;
  text-transform: uppercase;
  color: #FEE040;
  margin-bottom: 0;
  padding-left: 17px;
}
.services__title p {
  font-family: "Gilroy", serif;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.4px;
  color: #FFFFFF;
  font-weight: bold;
  margin-top: 17px;
  margin-bottom: 50px;
}

.services__scrollbar {
  height: 381px;
  width: 1420px;
  position: relative;
  overflow: hidden;
}
.services__scroll-none {
  position: absolute;
  overflow-x: scroll;
  width: 1420px;
  overflow-y: hidden;
  top: 0;
  left: 0;
}
.services__scroll-none::-webkit-scrollbar {
  display: none;
}
.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  height: 381px;
  width: 2400px;
}

.services__item {
  max-width: 400px;
  width: 100%;
  min-height: 381px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.services__item:not(:last-child) {
  margin-right: 80px;
}

.service-card__img {
  max-width: 400px;
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 3px;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.534);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.534);
}
.service-card h4 {
  font-family: "Proxima Nova Rg";
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.3px;
  color: #FFFFFF;
  margin-bottom: 19px;
}
.service-card p {
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  line-height: 162%;
  letter-spacing: -0.5px;
  color: #FFFFFF;
  opacity: 0.7;
}
.service-card__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.service-card__link-more {
  font-family: "Bebas Neue";
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 7px;
  color: #FEE040;
  margin-bottom: 0;
}
.service-card__link-more a {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.service-card__link-more a:hover {
  color: #FFFFFF;
  font-weight: bold;
  text-shadow: 2px 2px 5px black;
}
@media (max-width: 1339.8px) and (min-width: 1200px) {
  .header-menu__left {
    width: 26%;
  }
  .header-menu__right {
    width: 36%;
  }
  .whyme-title__container h2 {
    font-size: 28px;
    margin-bottom: 35px;
    text-align: center;
  }
  .whyme-title__container p {
    text-align: center;
  }
  .whyme-title__container {
    max-width: 70%;
  }
}
@media (max-width: 1199.8px) and (min-width: 992px) {
  .header-menu__left {
    width: 35%;
  }
  .header-menu__right {
    width: 40%;
  }
  .header-content {
    padding-left: 80px;
    padding-right: 80px;
  }
  .header-content__main {
    width: 48%;
  }
  .header-content__main h1 {
    font-size: 38px;
  }
  .header-content__offer {
    width: 35%;
  }
  .header-content__offer-btn {
    min-width: 280px;
  }
  .header-info__list {
    width: 76%;
    gap: 5px;
  }
  .header-info__text {
    font-size: 18px;
  }
  .whyme img {
    width: 300px;
    height: 300px;
    margin-top: 85px;
  }
  .whyme-title__container h2 {
    text-align: center;
    font-size: 27px;
    margin-bottom: 30px;
  }
  .whyme-title__container p {
    text-align: center;
  }
  .whyme-title__container {
    max-width: 75%;
  }
}
@media (max-width: 991.8px) {
  .whyme-list__container h3 {
    text-align: center;
  }
  .whyme img {
    display: none;
  }
}
@media (max-width: 991.8px) and (min-width: 768px) {
  .header-menu__left {
    width: 40%;
  }
  .header-menu__right {
    width: 50%;
  }
  .header-content {
    padding-left: 40px;
    padding-right: 40px;
  }
  .header-content__main {
    width: 54%;
  }
  .header-content__main h1 {
    font-size: 35px;
  }
  .header-content__offer {
    width: 40%;
  }
  .header-content__text {
    font-size: 18px;
  }
  .header-content__offer-text {
    font-size: 14px;
  }
  .header-content__offer-btn {
    min-width: 260px;
  }
  .header-info__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 75%;
    margin-left: 40px;
  }
  .header-info__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header-info__text {
    font-size: 18px;
  }
  .header-info__video {
    margin-right: 40px;
  }
  .whyme-list__container {
    margin: 0 auto;
    max-width: 75%;
  }
  .whyme-list__item {
    padding-left: 30px;
  }
  .whyme-list__item::before {
    left: -30px;
  }
  .whyme-title__container h2 {
    text-align: center;
    font-size: 27px;
    margin-bottom: 35px;
  }
  .whyme-title__container p {
    text-align: center;
  }
  .whyme-title__container {
    margin: 0 auto;
    max-width: 85%;
  }
}
@media (max-width: 767.8px) {
  h1 {
    width: 100%;
    text-align: center;
    font-size: 42px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .header-menu__left {
    width: 100%;
  }
  .header-menu__right {
    display: none;
  }
  .header-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .header-content__main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-content__offer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-content__text {
    font-size: 20px;
    text-align: center;
  }
  .header-content__offer-text {
    text-align: center;
  }
  .header-content__offer-btn {
    min-width: 340px;
  }
  .header-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-info__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    gap: 20px;
  }
  .header-info__item {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .header-info__text {
    font-size: 20px;
  }
  .whyme-list {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .whyme-list__container {
    max-width: 100%;
    margin-right: 0;
  }
  .whyme-list__item {
    padding-left: 20px;
  }
  .whyme-list__item::before {
    left: -30px;
  }
  .whyme {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .whyme img {
    margin-top: 30px;
    display: block;
    position: relative;
    max-width: 300px;
    width: 100%;
    max-height: 300px;
    height: 100%;
  }
  .whyme-bg {
    display: none;
  }
  .whyme-title {
    width: 100%;
  }
  .whyme-title__container h2 {
    text-align: center;
    font-size: 32px;
    margin-top: 70px;
    margin-bottom: 33px;
    padding-right: 32px;
    padding-left: 32px;
  }
  .whyme-title__container p {
    text-align: center;
    margin-bottom: 45px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .whyme-title__container {
    max-width: 100%;
  }
}
@media (max-width: 575.8px) {
  .header-content__offer-btn {
    min-width: 260px;
  }
  .whyme-title__container h2 {
    padding: 0;
  }
}