.whyme {
    display: flex;
    min-height: 446px;
    position: relative;
    @include md {
        flex-direction: column;
        flex-grow: 1;
    }
    img {
        position: absolute;
        width: 385px;
        height: 385px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        margin-top: 54px;
        overflow: auto;
        @include xl-lg {
            width: 300px;
            height: 300px;
            margin-top: 85px;
        }
        @include lg {
            display: none;
        }
        @include md {
            margin-top: 30px;
            display: block;
            position: relative;
            max-width: 300px;
            width: 100%;
            max-height: 300px;
            height: 100%;
        }
    }
}

.whyme-bg {
    position: absolute;
    z-index: -1;
    display: flex;
    max-width: 1920px;
    width: 100%;
    min-height: 446px;
    &__white {
        width: 50%;
    }
    &__beg {
        width: 50%;
        background-color: $color-beg;
    }
    @include ul {
        display: none;
    }
}