    .whyme-title {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        @include md {
            width: 100%;
        }
        &__container {
            max-width: 65%;
            h2 {
                font-family: $font-header;
                font-size: 32px;
                line-height: 42px;
                letter-spacing: -0.5px;
                color: $color-gray-dark;
                font-weight: 800;
                margin-bottom: 50px;
                @include ul-xl {
                    font-size: 28px;
                    margin-bottom: 35px;
                    text-align: center;
                }
                @include xl-lg {
                    text-align: center;
                    font-size: 27px;
                    margin-bottom: 30px;
                }
                @include lg-md {
                    text-align: center;
                    font-size: 27px;
                    margin-bottom: 35px;
                }
                @include md {
                    text-align: center;
                    font-size: 32px;
                    margin-top: 70px;
                    margin-bottom: 33px;
                    padding-right: $gap*1.6;
                    padding-left: $gap*1.6;
                }
                @include sm {
                    padding: 0;
                }
            }
            p {
                font-family: $font-pnregular;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: -0.3px;
                color: $color-gray-light;
                opacity: 0.7;
                @include ul-xl {
                    text-align: center;
                }
                @include xl-lg {
                    text-align: center;
                }
                @include lg-md {
                    text-align: center;
                }
                @include md {
                    text-align: center;
                    margin-bottom: 45px;
                    padding-right: $gap;
                    padding-left: $gap;
                }
            }
            @include ul-xl {
                max-width: 70%;
            }
            @include xl-lg {
                max-width: 75%;
            }
            @include lg-md {
                margin: 0 auto;
                max-width: 85%;
            }
            @include md {
                max-width: 100%;
            }
        }
    }