    .whyme-list {
        width: 50%;
        background-color: $color-beg;
        font-family: $font-pnregular;
        font-size: 24px;
        line-height: 34px;
        letter-spacing: -0.5px;
        color: $color-gray-dark;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin-right: 22px;
        @include md {
            width: 100%;
            align-items: center;
            margin-top: 30px;
            margin-bottom: 50px;
            padding-top: 40px;
            padding-bottom: 40px;
            padding-right: $gap;
            padding-left: $gap;
        }
        &__container {
            max-width: 65%;
            h3 {
                margin-top: 0;
                font-family: $font-pnregular;
                font-size: 24px;
                line-height: 34px;
                letter-spacing: -0.5px;
                color: $color-gray-dark;
                font-weight: 900;
                margin-bottom: 12px;
                margin-left: -9px;
            }
            @include lg-md {
                margin: 0 auto;
                text-align: center;
                max-width: 75%;
            }
            @include md {
                max-width: 100%;
                text-align: center;
            }
        }
        &__ul {
            list-style: none;
            margin: 0;
        }
        &__item {
            &::before {
                content: "";
                background: url(../img/icon.png) no-repeat top left; //неправильный путь !!!!
                height: 30px;
                width: 30px;
                position: absolute;
                z-index: 1;
                left: -50px;
                margin-left: -50px;
                margin: auto;
                overflow: auto;
                @include lg-md {
                    left: -35px;
                }
            }
            position: relative;
            font-family: $font-main;
            font-size: 18px;
            line-height: 26px;
            letter-spacing: -0.5px;
            font-weight: 900;
            color: $color-gray;
            opacity: 0.7;
            padding-top: 15px;
            padding-bottom: 4px;
        }
    }