.header {
    &-container {
        max-width: 1280px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        background-image: url("../img/gotz_together__header.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 300px;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        border-left: 1px solid black;
    }
}