    .header-navbar__btn span {
        display: block;
        height: 2px;
        width: 40px;
        background: $color-light;
        border-radius: 3px;
        opacity: 1;
        &:hover {
            background-color: $color-accent;
            transform: scale(1.2);
        }
        //   transform: rotate(0deg);
        // transition: 0.25s ease-in-out;
    }
    
    .header-navbar__btn-row:nth-child(1) {
        margin-bottom: 8px;
    }
    
    .header-navbar__btn-row:nth-child(2) {
        margin-bottom: 8px;
        background-color: $color-accent;
    }
    /*.header-navbar__btn-row:nth-child(3) {
        top: 18px;
    }
    
    .header-navbar__btn.active span:nth-child(1) {
        top: 9px;
        transform: rotate(135deg);
    }
    
    .header-navbar__btn.active span:nth-child(2) {
        opacity: 0;
        left: -30px;
    }
    
    .header-navbar__btn.active span:nth-child(3) {
        top: 9px;
        transform: rotate(-135deg);
    }*/