.header-menu {
    width: 100%;
    min-height: $gap*4;
    max-width: 1420px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left {
        width: 22.3%;
        display: flex;
        justify-content: space-between;
        @include ul-xl {
            width: 26%;
        }
        @include xl-lg {
            width: 35%;
        }
        @include lg-md {
            width: 40%;
        }
        @include md {
            width: 100%;
        }
    }
    &__right {
        width: 32.4%;
        display: flex;
        justify-content: space-between;
        @include ul-xl {
            width: 36%;
        }
        @include xl-lg {
            width: 40%;
        }
        @include lg-md {
            width: 45%;
        }
        @include md {
            display: none;
        }
    }
    &__nav {
        display: flex;
        align-items: center;
    }
    &__mail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
            font-family: $font-main;
            font-size: 12px;
            line-height: 12px;
            letter-spacing: -0.3px;
            opacity: 0.5;
            padding: 0;
            margin: 0;
        }
        &-link {
            color: inherit;
            span {
                padding-left: 6px;
                font-family: $font-pnregular;
                font-size: 14px;
                line-height: 12px;
                letter-spacing: -0.3px;
                color: $color-accent;
            }
        }
    }
    &__tel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        &-img {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            margin-bottom: 6px;
            p {
                margin: 0;
                padding: 0 1px 0 8px;
                font-family: $font-main;
                font-size: 12px;
                line-height: 12px;
                letter-spacing: -0.3px;
                opacity: 0.5;
            }
            img {
                margin-bottom: 2px;
            }
        }
        &-nmb {
            P {
                margin: 0;
            }
            font-family: $font-pnregular;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.3px;
        }
    }
}