    .header-content {
        width: 100%;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: $gap*6;
        padding-right: $gap*6;
        margin-bottom: $gap*3.2;
        margin-top: $gap*10;
        &__main {
            width: 50%;
        }
        &__text {
            font-family: $font-pnregular;
            font-size: 20px;
            line-height: 34px;
            opacity: 0.7;
            max-width: $gap*18.15;
        }
        &__text p {
            margin: 0;
            letter-spacing: 0.1px;
        }
        &__offer-text {
            font-family: $font-main;
            font-size: 15px;
            line-height: 28px;
            max-width: $gap*17;
        }
        &__offer-text p {
            margin: 0;
        }
        &__offer-btn {
            min-width: $gap*17;
            min-height: $gap*3.5;
            background-color: $color-accent;
            border: none;
            padding: 0;
            margin-top: 10px;
            margin-bottom: $gap*1.7;
            border-radius: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__offer-btn p {
            font-family: $font-header;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #000000;
            padding-left: 12px;
            font-weight: 900;
        }
    }