.header {
    position: relative;
    top: 0;
    min-height: 768px;
    color: $color-light;
    background-color: transparent;
    background-image: url(../img/sean-pollock-203658-unsplash.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.row-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 768px;
}